div.container {
  padding: 30px;
  align-content: center;
}

.hobby {
  text-align: center;
  margin-left: 50%;
  margin-top: 60px;
  transform: translate(-50%, 0);
}
.h-img {
  margin-right: 100px;
}
#t-inner {
  margin-top: 100px;
}
